---
title: Duncan G M Stuart - Ruby on Rails Developer
---

%header.vcard
  %h1 
    %span.fn Duncan G M Stuart
    %span.title Ruby on Rails Developer

  %address
    %dl
      %dt Email
      %dd
        %a.email{ href: "mailto:dgmstuart@gmail.com" } dgmstuart@gmail.com
    
      %dt Website
      %dd
        %a.url{ href: "http://duncangmstuart.co.uk" } duncangmstuart.co.uk
    
      %dt Location
      %dd.adr
        %span.locality London
        %span.country UK

%section.summary
  {{Statement here}}
  
%section
  %header
    %h2 Experience
  %ol.vcalendar
    %li.experience.vevent
      %span.location.vcard
        Lead Product Developer at
        %a.url.fn.org{ href: "http://dxw.com" } dxw
        %span.adr
          %span.locality London
      %abbr.dtstart{ title: "2012-01-01" } January 2012
      \- present
      .summary TODO
        
    %li.experience.vevent
      %span.location.vcard
        %a.url.fn.org{ href: "http://www.swingoutlondon.co.uk" } Swing Out London
        (Personal project)
      %abbr.dtstart{ title: "2010-08-01" } August 2010
      \- present
      .summary TODO

    
        
    
  

