---
title: Duncan Graeme Macdonald Stuart - Web Developer
---

%header.vcard
  %h1
    %span.fn Duncan Graeme Macdonald Stuart
    %span.title Web Developer

  %address
    %dl
      %dt Email
      %dd
        %a.email{ href: "mailto:dgmstuart@gmail.com" } dgmstuart@gmail.com

      %dt Blog
      %dd
        %a.url{ href: "https://dgmstuart.github.io/" } dgmstuart.github.io

      %dt Github
      %dd
        %a.url{ href: "https://github.com/dgmstuart" } dgmstuart

      %dt Twitter
      %dd
        %a.url{ href: "https://twitter.com/dgmstuart" } @dgmstuart

      %dt Location
      %dd.adr
        %span.locality London
        %span.country UK

%section.summary
  %header
    %h2 Profile
  %ul
    %li 4+ years professional experience in Ruby on Rails development
    %li 11+ years working across all stages of the software life-cycle: from strategy and requirements design through to testing and support
    %li Extensive experience of working with users and stakeholders in central government, public and private sectors

%section
  %header
    %h2 Experience
  %ol.vcalendar
    %li.experience.vevent.vcard
      %header
        %h3.location
          %a.url.fn.org{ href: "http://dxw.com" } dxw
          %span.adr<
            %span.locality London
        %span.summary.title Head of Products
        %abbr.dtstart{ title: "2012-01-01" } January 2012
        \-
        %abbr.dtend{ title: "2013" } Present
      %ul.skills
        %li.skill.dev Rails 3 + 4
        %li.skill.dev Sinatra
        %li.skill.dev Ruby 1.9 + 2.2
        %li.skill.dev HTML5/CSS3
        %li.skill.dev haml
        %li.skill.dev sass
        %li.skill.dev less
        %li.skill.dev JQuery
        %li.skill.dev php (WordPress)
        %li.skill.dev WordPress plugins
        %li.skill.dev Bootstrap
        %li.skill.approach Agile
        %li.skill.approach TDD
        %li.skill.non-tech Web Application Security
        %li.skill.non-tech Responsive design
        %li.skill.non-tech User research
        %li.skill.non-tech Usability testing
      .description
        %ul
          %li Lead developer on a large transactional site for a housing association
          %li
            Responsible for researching, designing, building and selling original web products and services, including
            %a{ href: "https://www.mongoosewp.com/" } Mongoose
            and
            %a{ href: "https://www.citrulu.com/" } Citrulu
          %li
            Responsible for reviewing WordPress plugins for security vulnerabilities and publishing advisories - for example
            %a{ href: "https://security.dxw.com/advisories/csrf-and-stored-xss-in-simple-share-buttons-adder/" } CVE-2014-4717
          %li Responsible for leading the user research and usability testing activities for client projects
          %li Responsible for supporting client systems as well as users of dxw products
          %li Responsible for code-reviewing business-critical php and ruby code

    %li.experience.vevent.vcard
      %header
        %h3.location
          %a.url.fn.org{ href: "http://www.swingoutlondon.co.uk" } Swing Out London
        %span.summary (personal project)
        %abbr.dtstart{ title: "2010-08" } August 2010
        \-
        %abbr.dtend{ title: "2013" } Present
      %ul.skills
        %li.skill.dev Rails 3
        %li.skill.dev HTML5/CSS3
        %li.skill.dev haml
        %li.skill.dev sass
        %li.skill.dev Google Maps
        %li.skill.non-tech Responsive design
        %li.skill.non-tech Social Media Management
      .description
        %ul
          %li
            I designed and built
            %a{ href: "https://github.com/dgmstuart/Swing-Out-London" }a custom Rails CMS
            for managing listings of Swing dance classes and social events
          %li I maintain the listings as a free service
          %li The site is the top Google search hit for "Swing Dance London"
          %li
            I manage the
            %a{ href: "https://www.facebook.com/swingoutlondon" } Facebook page
            which has over 2500 likes and the
            %a{ href: "https://twitter.com/swingoutlondon" } Twitter account
            which has over 1500 followers.

    %li.experience.vevent.vcard
      %header
        %h3.location
          %a.url.fn.org{ href: "http://uk.zopa.com" }
            Zopa
          %span.adr<
            %span.locality London
        %span.summary.title Scrum Master/Analyst
        %abbr.dtstart{ title: "2011-08-19" } August
        \-
        %abbr.dtend{ title: "2011-12-05" } December 2011
      %ul.skills
        %li.skill.approach Agile
        %li.skill.approach Kanban
        %li.skill.non-tech Requirements Gathering
        %li.skill.non-tech Business Process Modelling
      .description
        %ul
          %li Significantly increased the release rate by transitioning the small tech team from ad-hoc development to a Kanban system with user stories
          %li Set better expectations amongst the business stakeholders by helping them to manage the backlog and write stories themselves
          %li Responsible for capturing requirements and refining specs

    %li.experience.vevent.vcard
      %header
        %h3.location
          %a.url.fn.org{ href: "https://www.new-bamboo.co.uk/" } New Bamboo
          %span.adr<
            %span.locality London
        %span.summary Work experience
        %span.duration (one week)
        %abbr.dtstart{ title: "2011-08-01" } August 2011
      %ul.skills
        %li.skill.approach Agile
        %li.skill.non-tech User Stories
      .description
        %p
          I wanted to see how an agile Rails agency works. I worked on some RFPs and helped one of their clients (
          %a{ href: "http://www.fuseuniversal.com/"}> Fuse
          ) to refine their user stories.

    %li.experience.vevent.vcard
      %header
        %h3.location
          %a.url.fn.org{ href: "https://www.baesystemsdetica.com" } Detica
          %span.adr<
            %span.locality London/Guildford
        %span.summary.title Lead developer
        %abbr.dtstart{ title: "2006-09-19" } September 2006
        \-
        %abbr.dtend{ title: "2011-12-05" } July 2011
      %ul.skills
        %li.skill.dev Rails 2
        %li.skill.dev Oracle
        %li.skill.dev SQL
        %li.skill.dev XML/XSD/WSDL
        %li.skill.dev SOAP
        %li.skill.approach Agile (Scrum)
      .description
        %ul
          %li Led the successful delivery of a major upgrade to a Rails application used by several major telecoms providers
          %li Responsible for developing features on that system, including a SOAP client
          %li
            Responsible for delivering all parts of the software life-cycle, including:
            %ul
              %li high-level IT strategies for major policing organisations
              %li requirements gathering and product management on a Scrum project
              %li automated and manual testing and support for central government clients

    %li.experience.vevent.vcard
      %header
        %h3.location
          %a.url.fn.org{ href: "http://www.qinetiq.com" } QinetiQ
          %span.adr<
            %span.locality> Malvern
            ,
            %span.region Worcestershire
        %span.summary.title Assurance Analyst
        %abbr.dtstart{ title: "2004-09" } September 2004
        \-
        %abbr.dtend{ title: "2006-08" } August 2006
      %ul.skills
        %li.skill.non-tech Business Process Modelling
        %li.skill.non-tech Requirements Gathering
      .description
        %p Safety and Security analysis of systems for HM Government and Defence clients.


%section
  %header
    %h2 Education
  %ol.vcalendar
    %li.education.vevent
      %h3.summary
        Certificate in Software Engineering
      %span.location.vcard
        %a.url.fn.org{ href: "http://www.ox.ac.uk" } University of Oxford
      %abbr.dtstart.hidden 2004
      \-
      %abbr.dtend 2006
    %li.education.vevent
      %h3.summary
        %abbr{ title: "Bachelor of Arts" } BA
        Mathematics and Computer Science
      %span.location.vcard
        %a.url.fn.org{ href: "http://www.ox.ac.uk" } University of Oxford
      %abbr.dtstart.hidden{ title: "2001-10" } 2001
      \-
      %abbr.dtend{ title: "2004-06" } 2004

%section.interests
  %header
    %h2 Interests
    %p Swing dancing (Charleston, Lindy Hop) - I regularly travel to dance, learn and compete at camps around Europe
    %p
      Teaching kids to code:
      I volunteer with
      %a{ href: "http://www.wizziewizzie.org/" } Wizzie Wizzie Computer Coding Club
      and I run a
      %a{ href: "http://www.meetup.com/People-teaching-kids-to-code-in-London/" } meetup for people teaching kids to code
    %p Languages (French + some Spanish and Swedish)

/ %section
/   %header
/     %h2 Code Samples
/     %ul
/       %li TODO

%section.colophon
  %header
    %h3 Colophon
    %ul
      %li
        Built mobile-first with
        %a{ href: "http://nanoc.ws" } nanoc
        using
        %a{ href: "http://haml.info" } haml
        and
        %a{ href: "http://sass-lang.com" } sass
        producing valid
        %a{ href: "https://validator.w3.org/nu/?doc=https%3A%2F%2Fdgmstuart.github.io%2Fdgms_cv%2F" } html5
        and
        %a{ href: "http://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fvalidator.w3.org%2Fnu%2F%3Fdoc%3Dhttps%253A%252F%252Fdgmstuart.github.io%252Fdgms_cv%252F&profile=css3&usermedium=all&warning=1&vextwarning=" } css3
        and using the
        %a{ href: "http://microformats.org/wiki/hresume" } hresume
        microformat
      %li.source_code
        Source on
        %a{ href: "https://github.com/dgmstuart/dgms_cv" } github
