// Colours
$link-color: #3a87ad;
$white:      #fff;
$font-color: #000;
$light-grey: #bbb;

// Bootstrap label colours:
$grey:    #999999; //default
$red:     #b94a48; //danger
$yellow:  #f89406; //warning
$green:   #468847; //success
$blue:    #3a87ad; //info

// Margin and padding
$content-spacing:   15px;
$paragraph-spacing: 10px;

// Font sizes
$text:               16px;
$title:              35px;
$sub-title:          20px;
$section-heading:    25px;
$section-subheading: 18px;
$minor-heading:      20px;
