// MOBILE ONLY
@media only screen and (max-width: 480px) {
  .experience .summary {
    display: block;
    margin-bottom: 10px;
  }
}

// SMALL
@media only screen and (max-width: 767px) {
  .experience .summary {
    margin-right: 20px;
  }
}

// TABLET & SMALLER LAPTOPS
@media only screen and (min-width: 768px) {
  .experience .summary {
    margin-right: 150px;
  }

}

// DESKTOP
@media only screen and (min-width: 960px) {
}

// LARGE VIEWING SIZE
@media only screen and (min-width: 1240px) {
}
