@import "reset";

// Colours
$link-color: #3a87ad;
$white:      #fff;

// Bootstrap label colours:
$grey:    #999999; //default
$red:     #b94a48; //danger
$yellow:  #f89406; //warning
$green:   #468847; //success
$blue:    #3a87ad; //info

%clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

body {
  background: $white;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2; 
}

#main {

  @mixin coloured-border {
    border-left: 8px solid;
    padding: 15px ;
  }

  @mixin basic-list {
    list-style: disc;
    margin-left: 20px;
    li {
      margin-bottom:10px;
    }
  }

  header.vcard {
    @include coloured-border;
    padding-bottom: 15px;
    h1 {
      .fn {
        display: block;
        font-size: 35px;
        margin-bottom: 20px;
      }
      .title {
        display: block;
        font-size: 20px;
        margin-bottom: 30px;
      }
    }    
    dl {
      @extend %clearfix;
      min-width: 240px;
      dt {
        float: left;
        clear: left;
        width: 80px;
        &:after {
         content: ":"
        }
      }
      dd {
        float: right;
        width: 160px;
      }
    }
  }
  section {
    @include coloured-border;
    clear: both;
    margin-top: 20px;
    h2 {
      margin-bottom: 15px;
      font-size: 25px;
      font-weight: bold;
    }
    &.summary ul {
      @include basic-list;
    }

    .experience {
      margin: 40px 0 10px 0;
      h3.location {
        margin-bottom: 5px;
        a.org {
          font-size: 20px;
          font-weight: bold;
        }
        .adr{
          margin-left: 30px;
          font-style: italic;
        }
      }
      ul.skills {
        margin-top: 15px;
        li {
          display: inline-block;
          padding: 3px 8px;
          margin-bottom: 4px;
          color: white;

          &.dev {
            background-color: $red;
          }
          &.non-tech {
            background-color: $blue;
          }
          &.approach {
            background-color: $green;
          }
        }
      }
      .description ul {
        @include basic-list;
        margin-top: 15px;
      }
    }

    .education {
      margin-bottom: 15px;
      h3.summary {
        font-size: 18px;
        display: block;
      }
      .location, .dtstart, .dtend {
        font-style: italic;
      }
    }

    &.colophon {
      h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      li {
        font-style: italic;
        margin-bottom: 5px;  
        a {
          color: $link-color;
        }
      }
    }
  }
}


// SMALL ONLY
@media only screen and (max-width: 767px) {
}

// TABLET & SMALLER LAPTOPS
@media only screen and (min-width: 768px) {
}

// DESKTOP
@media only screen and (min-width: 960px) {
}

// LARGE VIEWING SIZE
@media only screen and (min-width: 1240px) {
}