@import "reset";
@import "variables";
@import "mixins";

%clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

body {
  background: $white;
  font-size: $text;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
}

#main {
  max-width: 800px;
}

header.vcard {
  @include coloured-border;

  h1 {
    .fn {
      display: block;
      font-size: $title;
      margin-bottom: 20px;
    }
    .title {
      display: block;
      font-size: $sub-title;
      margin-bottom: 30px;
    }
  }

  address {
    @include show-links-on-hover;

    max-width: 500px;
    dl {
      @extend %clearfix;
      min-width: 240px;
      dt {
        float: left;
        clear: left;
        width: 80px;
        &:after {
         content: ":"
        }
      }
      dd {
        float: right;
        width: 160px;
      }
    }
    .locality:after {
      content: ","
    }
  }
}

section {
  @include coloured-border;

  clear: both;
  margin-top: 20px;
  h2 {
    margin-bottom: $content-spacing;
    font-size: $section-heading;
    font-weight: bold;
  }
  &.summary ul {
    @include basic-list;
  }
}

section .experience {
  @include show-links-on-hover;

  margin: 40px 0 10px 0;
  header {
    font-size: $section-subheading;
    h3.location {
      margin-bottom: 5px;
      a.org {
        font-size: $section-heading;
        font-weight: bold;
        @include colour-on-hover;
      }
      .adr{
        font-style: italic;
        &:before { content: "(" }
        &:after { content: ")" }
      }
    }
    .dtstart, .dtend, .duration {
      font-style: italic;
    }
  }
  ul.skills {
    margin-top: $content-spacing;
    li.skill {
      display: inline-block;
      padding: 7px 8px 3px;
      margin-bottom: 4px;
      color: white;

      &.dev       { background-color: $red; }
      &.non-tech  { background-color: $blue; }
      &.approach  { background-color: $green; }
    }
  }
  .description {
    ul, p {
      margin-top: $content-spacing;
    }
    ul {
      @include basic-list;
    }
  }
}

section .education {
  @include show-links-on-hover;
  margin-bottom: $content-spacing;
  h3.summary {
    font-size: $section-subheading;
    display: block;
  }
  .location, .dtstart, .dtend {
    font-style: italic;
  }
}

.interests {
  @include show-links-on-hover;
  p {
    margin-bottom: $paragraph-spacing;
  }
}

.colophon {
  h3 {
    font-size: $minor-heading;
    font-weight: bold;
    margin-bottom: 10px;
  }
  li {
    font-style: italic;
    margin-bottom: 5px;
    a {
      color: $link-color;
    }
  }
}

@import "responsive";
@import "print";
